@import url(https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap);

body{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), url(../src/img/moneyPlant.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
}




main{
    margin-top: 80px;
    background: linear-gradient(to bottom, white, rgba(0,0,0,0));
}



#welcome{
    padding: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}






footer{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    bottom: 0;
    position: fixed;
}